{{ define "main" }} {{ partial "header.html" . }}
<section class="main post-list">
  <header class="list-header offscreen">
    <h2 class="list-label">{{ i18n "allPosts" }}</h2>
  </header>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") (index .Site.Params "paginate" | default 10) }}
  {{ if ne $paginator.TotalPages 0 }}
  {{ range $paginator.Pages.ByDate.Reverse }} {{ .Render "summary" }} {{ end }}
  {{ else }}
  {{ partial "empty-list.html" . }}
  {{ end }} {{ if gt $paginator.TotalPages 1 }}
  <footer class="list-footer">
    <nav class="pagination">
      <h3 class="offscreen">{{ i18n "pagination" }}</h3>
      {{ if $paginator.HasPrev }}
      <a class="pagination-previous" href="{{ $paginator.Prev.URL }}">{{ i18n "newerPosts" }}</a>
      {{ end }} {{ if $paginator.HasNext }}
      <a class="pagination-next" href="{{ $paginator.Next.URL }}">{{ i18n "olderPosts" }}</a>
      {{ end }}
    </nav>
  </footer>
  {{ end }}
</section>
{{ partial "footer.html" . }} {{ end }}
